

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#main { padding-top: 0; }

.App-header {
  background-color: #282c34;
  height: 15vh;
  color: white;
  top: 0vh;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.App-title{
  top:3vh;
  margin-top: 6vh;
  margin-bottom: 2vh;
  left: 2vw;
  margin-top: 0vh;
  width:20vw;
  margin-right: 0vw;
  padding: 0px 0px 0px 0px;
}

.textarea{
  width:200px;
  height:50px;
  border:1px solid black;
}

.textarea-row{
  height: 20vh;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
