.btn-italics{
    margin-top: 3vh;
}

.btn-iLink{
    margin-top: 3vh;
}

button:active{
    background-color: #0074a9;
    outline: none;
}

.button-container{
    height: 15vh;
    margin-right: 1vw;
}