.btn-italics{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px 30px 10px;
    text-align: center;
    font-size: 16px;
    height: 8vh;
    margin: 2vh 2vh 2vh 2vh;
    vertical-align: middle;
}

.btn-iLink{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px 30px 10px;
    text-align: center;
    font-size: 16px;
    height: 8vh;
    margin: 2vh 2vh 2vh 2vh;
    vertical-align: middle;
}

button:active{
    background-color: #0074a9;
    outline: none;
}

.button-container{
    height: 15vh;
}